/* GENERAL STYLES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

main {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 50%;
    margin: 20px auto;
    padding: 20px;
    gap: 30px;
    border-radius: 5px;
    background-color: #fff;
}

/* HEADER SECTION */

header {
    display: flex;
    justify-content: center;
    width: 100%;
    border: 1px solid blue;
}

/* MAIN CONTENT SECTION */

section {
    display: flex;
    width: 100%;
}

ul {
    width: 100%;
    list-style-type: none;
}

li {
    padding: 20px;
    background-color: bisque;
    border-radius: 10px;
}

ul li:nth-child(odd) {
    margin: 25px 0;
}

a {
    text-decoration: none;
}

a:visited {
    color: grey;
}

a:hover {
    color: red;
}

a:focus{
    border: 2px solid black;
}

a:active {
    color: green;
}

/* MEDIA QUERIES */
@media (max-width: 768px) {
    main {
        max-width: 90%;
        padding: 10px;
        gap: 15px;
    }
}