* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

main {
    max-width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px auto;
}

header {
    width: 100%;
    text-align: center;
    padding: 20px;
}

section {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

article {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 30%;
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 10px;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

article:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #f7c436;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #e7ad0f;
    transition: background-color 0.3s ease;
}

footer {
    width: 100%;
    text-align: center;
    padding: 20px;
}
