* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(113, 222, 255, 0.658);
}

main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 60%;
    margin: 50px auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s ease-in-out;
}

main:hover {
    transform: scale(1.02);
    background-color: #f0f0f0;
}

/* HEADER SECTION */

header {
    display: flex;
    justify-content: center;
}

h1::after, h1::before {
    content: "🌟"
}

/* MAIN CONTENT SECTION */
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

article {
    text-align: center;
}

.article-button {
    display: flex;
    justify-content: center;
    gap: 50px;
}

button {
    padding: 7px 10px;
    border-radius: 5px;
    background-color: rgb(51, 152, 247);
    color: #fff;
}

button:hover {
    background-color: rgb(29, 115, 189);
    cursor: pointer;
}

footer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* MEDIA QUERIES */

@media (max-width: 768px) {
    main {
        max-width: 70%;
        padding: 20px;
    }

    .article-button {
        flex-direction: column;
        gap: 20px;
    }

    button {
        margin: auto;
        width: 50%;
    }
}

@media (max-width: 480px) {
    main {
        max-width: 90%;
        padding: 15px;
    }

    h1 {
        font-size: 1.5rem;
    }

    .article-button {
        gap: 15px;
    }

    button {
        width: 60%;
    }
}